
@font-face {
    font-family: 'CourierNew';
    src: url('../assets/fonts/cour_0.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('../assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratBlack';
    src: url('../assets/fonts/Montserrat-Black.ttf') format('truetype');
}


* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
    color: #fff;
    font-family: MontserratRegular;
}

.App {
	text-align: center;
	margin-top: 50px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

h1 {
    margin-bottom: 50px;
    font-size: 30px;
}

.navigation {
}

a {
    text-decoration: none;
    max-width: 100%;
    padding-right: 15px;
}


.First {
    background-color: #C4DFE6;
    height: 100vh;
}

.Second {
    background-color: #66A5AD;
    height: 100vh;
}


.Third {
    background-color: #07575B;
    height: 100vh;
}

.Fourth {
    background-color: #003B46;
    height: 100vh;
}

.Fifth {
    background-color: #505160;
    height: 100vh;
}



/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

    .App {
        margin-top: 10px;
    }

    .container-fluid {
        padding-left: 0px;
        padding-right: 0px;
    }

    .input-section {
        background: url("../assets/images/petal.svg") no-repeat 50% 100%;
        background-size: cover;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 500px;
        max-height: 500px;
    }

    .color-recognition {
        background-size: cover;
    }
}

