
@font-face {
    font-family: 'InconsolataBold';
    src: url('.././assets/fonts/Inconsolata-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'MontserratRegular';
    src: url('.././assets/fonts/Montserrat-Regular.ttf') format('truetype');
}

* { 
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
    font-family: MontserratRegular;
}

.App {
	text-align: center;
	margin-top: 50px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    max-width: none;
}

h1 {
    color: #fff;
    font-size: 50px;
    margin-bottom: 30px;
    font-family: InconsolataBold;
    font-size: 60px;
}

h3 {
    margin-bottom: 20px;
    font-family: InconsolataBold;
    font-size: 25px;
    color: #BCBCBE;
}

p {
    font-size: 16px;
    font-family: InconsolataBold;
    color: #BCBCBE;
}

a {
    text-decoration: none;
    max-width: 100%;
    padding-right: 15px;
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

    .App {
        margin-top: 10px;
    }

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    h1 {
        font-size: 35px;
        margin-top: 35px;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 20px;
    }

    .color-recognition {
        background-size: cover;
    }
}

