@font-face {
    font-family: 'AtamiBold';
    src: url('../assets/fonts/Atami-Bold.otf') format('truetype');
}

* { 
    box-sizing: border-box;
    font-family: AtamiBold;
    font-size: 21px;
    text-align: center;
    color: #000;
}

body {
    background-color: #BFBFBF;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

h1 {
    font-size: 50px;
}

.container-fluid .container-first {
    position: relative;
    height: 80vh;
}

.container-fluid-second {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid-second .container {
    padding-left: 0px;
    padding-right: 0px;
}

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {

    .container-fluid, .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .container-fluid .container-first {
        height: 85vh;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
    .container-fluid .container-first {
        padding-left: 15px;
        padding-right: 15px;
        height: 80vh;
    }
}