#arc {
	display: block;
}

#arc-sm {
	display: none;
}

#arc {
    -webkit-animation: spiralAnim .8s 2s ease;
    animation: spiralAnim .8s 2s ease;
}

/*@-webkit-keyframes spiralAnim {
    0% {
        stroke-dasharray: 0px 3925px;
        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dasharray: 3925px 3925px;
        stroke-dashoffset: 3925px;
    }
}

@keyframes spiralAnim {
    0% {
        stroke-dasharray: 0px 3925px;
                stroke-dashoffset: 3925px;
    }

    100% {
        stroke-dasharray: 3925px 3925px;

        stroke-dashoffset: 0px;
    }
}*/

.order-items {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.plus, .minus {
	margin-top: 30px;
	border-radius: 50%;
	transform: scale(1);
	transition: transform .2s ease-in-out, background-color .2s ease-in-out;
}

.plus {
	margin-right: 50px;
	width: 40px;
	height: 40px;
	border: none;
	background-color: #BCBCBE;

}

.plus:hover {
	transform: scale(1.2);
	background-color: lightblue;
	color: #485167;
}


/*.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: #BCBCBE;
	color: #2A2E39;
	font-size: 1.4em;
	overflow: visible;
	margin-right: 50px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.cbutton::after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -35px 0 0 -35px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    content: '';
    opacity: 0;
    pointer-events: none;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cbutton--click,
.cbutton:focus {
	outline: none;
	color: #3c8ddc;
}

/* Radomir */
/*.cbutton--effect-radomir::after {
	box-shadow: inset 0 0 0 35px rgba(111,148,182,0);
}

.cbutton--click::after {
	-webkit-animation: anim-effect-radomir 0.5s ease-out forwards;
	animation: anim-effect-radomir 0.5s ease-out forwards;
}

@-webkit-keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-radomir {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.4, 0.4, 1);
		transform: scale3d(0.4, 0.4, 1);
	}
	80% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0.1;
	}
	100% {
		box-shadow: inset 0 0 0 2px rgba(111,148,182,0.8);
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}*/

.minus {
	width: 40px;
	height: 40px;
	border: none;
	background-color: #BCBCBE;
}

.minus:hover {
	transform: scale(1.2);
	background-color: lightblue;
	color: #485167;
}

#total-price {
	margin-top: 30px;
	font-size: 25px;
	background-color: lightblue;
	color: #485167;
	width: 180px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 3px;
	padding-bottom: 3px;
}

.active {
	background-color: lightblue;
	color: #485167;
	border-radius: 15px;
}

/*** Start of medium tablet styles ***/

@media screen and (max-width: 767px) {
	
	#arc {
		display: none;
	}

	#arc-sm {
		display: block;
	}

    .order-items {
		max-width: 400px;
	}
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
	
	#arc-sm {
		margin-bottom: 20px;
	}

	.order-items {
		max-width: 310px;
	}

	#total-price {
		font-size: 20px;
	}
}