.App #triangle-footer {
    display: block;
    position: relative;
    bottom: -1px;
    line-height: 0;
    z-index: 1;
}

.App .social-footer {
    background-color: #551E54;
    font-size: 18px;
}

.App .social-footer .social .intro {
    color: #BFBFBF;
    font-family: "AtamiBold";
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

.App .social-footer .social .intro:hover {
    color: #fff;
    transition: color .6s ease-in-out;
}

.App figure {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.App figure a {
    text-decoration: none;
    padding-left: 10px;
}

.App #github, .App #linkedin {
    width: 30px;
    height: 30px;
    fill: #BFBFBF;
    transition: fill .4s ease-in-out; 
}

.App #github:hover, .App #github:focus, .App #linkedin:hover, .App #linkedin:focus {
    fill: #F1F3F4;
}

.App .social-footer .email {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.App .email a {
    font-family: "AtamiBold";
    color: #BFBFBF;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.App .email a:hover {
    color: #fff;
    transition: color .6s ease-in-out;
}

/*** Start of medium tablet styles ***/
@media screen and (max-width: 768px) {
    .App .header-wrapper h1 {
        box-sizing: border-box;
        font-size: 33px;
        padding: 50px 10px 50px 10px;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {
    .App .social-footer .social .intro {
        padding-top: 30px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    .App figure {
        margin-bottom: 0px;
    }

    .App .social-footer .email a {
        font-size: 14px;
        padding-bottom: 30px;
    }
}