.container-fluid-second {
    padding-left: 0px;
    padding-right: 0px;
}

.container-fluid-second .container {
    padding-left: 0px;
    padding-right: 0px;
}

.footer-wrapper {
	margin-top: 50px;
}

.bg-wrapper {
	position: relative;
	height: auto;
}

#footer-bg {
	display: block;
    max-height: 100%;
    max-width: 100%;
}

#footer-bg-xl {
    display: none;
    min-height: 100%;
    min-width: 100%;
}

#footer-bg-md {
    display: none;
}

#footer-bg-sm {
    display: none;
}

#footer-bg-xs {
    display: none;
}

.social-footer {
    font-size: 16px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.social-footer .social .intro {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    font-family: InconsolataBold;
    color: #BCBCBE;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.social-footer .social .intro:hover {
    font-family: InconsolataBold;
    color: #BCBCBE;
    transition: color .6s ease-in-out;
}

figure {
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
}

figure a {
    text-decoration: none;
}

.frame {
	display: inline-block;
	border-radius: 50%;
}

#github, #linkedin {
	height: 40px;
	width: 40px;
    border-radius: 50%;
    border: solid 3px #BCBCBE;
}

#github {
    margin-right: 10px;
}

#slash {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: 5px; 
}

#github .circle, #linkedin .circle {
	fill: #454D5B;
}

#github:hover .circle-bg, #linkedin:hover .circle-bg {
 	fill: #2A2E39;
    transition: fill .2s ease-in-out;
}

#github .octocat, #linkedin .linkedin-sign {
    fill: #fff;
}

.social-footer .email {
    padding-bottom: 30px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.email a {
    font-family: InconsolataBold;
    color: #BCBCBE;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.email a:hover {
    color: #BCBCBE;
    transition: color .4s ease-in-out;
}

/*** Start of large tablet styles ***/
@media screen and (max-width: 1280px) {

    #footer-bg {
        display: none;
    }

    #footer-bg-xl {
        display: block;
    }

    #footer-bg-md {
        display: none;
    }

    #footer-bg-sm {
        display: none;
    }

    #footer-bg-xs {
        display: none;
    }
}    

/*** Start of large tablet styles ***/
@media screen and (max-width: 991px) {
    
    #footer-bg {
        display: none;
    }

    #footer-bg-xl {
        display: none;
    }

    #footer-bg-md {
        display: block;
    }

    #footer-bg-sm {
        display: none;
    }

    #footer-bg-xs {
        display: none;
    }
}

/*** Start of medium tablet styles ***/

@media screen and (max-width: 767px) {
    #footer-bg {
        display: none;
    }

    #footer-bg-xl {
        display: none;
    }

    #footer-bg-md {
        display: none;
    }

    #footer-bg-sm {
        display: block;
    }

    #footer-bg-xs {
        display: none;
    }
}

/*** Start of phone styles ***/
@media screen and (max-width: 479px) {

    .footer-wrapper {
        margin-top: 50px;
    }

    #footer-bg {
        display: none;
    }

    #footer-bg-xl {
        display: none;
    }

    #footer-bg-md {
        display: none;
    }

    #footer-bg-sm {
        display: none;
    }

    #footer-bg-xs {
        display: block;
        max-width: 479px;
    }

    .social-footer .email {
        padding-bottom: 20px;
    }

    .social-footer .social .intro, .email a {
        font-size: 15px;
    }
   
}